<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>자주 묻는 질문 수정</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<link href="data:;base64,iVBORw0KGgo=" rel="icon">

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="container">
        <div class="header">
            <h1>자주 묻는 질문 수정</h1>
        </div>
        <form method="post" class="form-box" th:action="@{/admin/faqs/{faqId}/edit(faqId=${faqId})}" th:object="${faqDTO}">
            <div class="form-group">
                <input class="form-content" id="questionTitle" th:field="*{questionTitle}" type="text" placeholder="질문 제목을 입력해 주세요" required>
            </div>
            <div class="form-group">
                <select class="form-content" id="faqCategory" th:field="*{faqCategory}">
                    <option value="">카테고리 선택</option>
                    <option th:each="category : ${T(com.sw.output.domain.faq.entity.FaqCategory).values()}" th:text="${category}"
                        th:value="${category}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-content" id="answerContent" th:field="*{answerContent}" placeholder="답변 내용을 입력해 주세요" required></textarea>
            </div>
            <div class="form-group">
                <button class="form-button" type="submit">수정</button>
            </div>
        </form>
    </div>
</body>

</html>