<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>자주 묻는 질문 관리</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="container">
        <div class="header">
            <h1>자주 묻는 질문 관리</h1>
            <button class="header-button" onclick="location.href='/admin/faqs/new'">
                <img src="/images/add.png" alt="추가">
            </button>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>질문 제목</th>
                    <th>답변 내용</th>
                    <th>카테고리</th>
                    <th>삭제 여부</th>
                    <th>생성일</th>
                    <th>수정일</th>
                    <th>삭제일</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="faq : ${faqs}">
                    <td th:text="${faq.id}"></td>
                    <td th:text="${faq.questionTitle}"></td>
                    <td th:text="${faq.answerContent}"></td>
                    <td th:text="${faq.faqCategory}"></td>
                    <td th:text="${faq.isDeleted}"></td>
                    <td th:text="${faq.createdAt}"></td>
                    <td th:text="${faq.updatedAt}"></td>
                    <td th:text="${faq.deletedAt}"></td>
                    <td>
                        <form method="get" th:action="@{/admin/faqs/{faqId}/edit(faqId=${faq.id})}">
                            <button type="submit">
                                <img src="/images/edit.png" alt="편집">
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" th:action="@{/admin/faqs/{faqId}/delete(faqId=${faq.id})}" th:if="${!faq.isDeleted}">
                            <button onclick="return confirm('삭제하시겠습니까?')" type="submit">
                                <img src="/images/delete.png" alt="삭제">
                            </button>
                        </form>
                        <form method="post" th:action="@{/admin/faqs/{faqId}/restore(faqId=${faq.id})}" th:if="${faq.isDeleted}">
                            <button onclick="return confirm('복구하시겠습니까?')" type="submit">
                                <img src="/images/restore.png" alt="복구">
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
