<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="container">
        <div class="header">
            <h1>공지사항 수정</h1>
        </div>
        <form method="post" class="form-box" th:action="@{/admin/notices/{noticeId}/edit(noticeId=${noticeId})}" th:object="${noticeDTO}">
            <div class="form-group">
                <input class="form-content" id="title" th:field="*{title}" type="text" placeholder="제목을 입력해 주세요" required>
            </div>
            <div class="form-group">
                <textarea class="form-content" id="content" th:field="*{content}" placeholder="내용을 입력해 주세요" required></textarea>
            </div>
            <div class="form-group">
                <button class="form-button" type="submit">수정</button>
            </div>
        </form>
    </div>
</body>

</html>