<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>면접 세트 정보</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="container">
        <div class="header">
            <h1>면접 세트 정보</h1>
        </div>
        <div class="table-container">
            <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>질문</th>
                    <th>답변</th>
                    <th>AI 생성 여부</th>
                    <th>삭제 여부</th>
                    <th>생성일</th>
                    <th>수정일</th>
                    <th>삭제일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="questionAnswer : ${questionAnswers}">
                    <td th:text="${questionAnswer.id}"></td>
                    <td class="content" th:text="${questionAnswer.questionTitle}"></td>
                    <td class="content" th:text="${questionAnswer.answerContent}"></td>
                    <td th:text="${questionAnswer.isAiCreated}"></td>
                    <td th:text="${questionAnswer.isDeleted}"></td>
                    <td th:text="${questionAnswer.createdAt}"></td>
                    <td th:text="${questionAnswer.updatedAt}"></td>
                    <td th:text="${questionAnswer.deletedAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>