<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
</head>

<body>
<h2>공지사항 작성</h2>
<form method="post" th:action="@{/admin/notices}" th:object="${noticeDTO}">
    <div>
        <label for="title">제목</label>
        <input id="title" th:field="*{title}" type="text">
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" th:field="*{content}"></textarea>
    </div>
    <button type="submit">등록</button>
</form>
</body>

</html>
